In [116]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import re

In [117]:
page = 1
artists = []
#years = []
while page != 18:
      url = f"https://countrymusichalloffame.org/hall-of-fame/members/page/{page}"
      response = requests.get(url)
      html = response.content
      soup = BS(html, "lxml")
      for h3 in soup.find_all("h3"):
        artists.append(h3.get_text(strip=True))
      page = page + 1

In [118]:
artists

['Roy Acuff',
 'Alabama',
 'Bill Anderson',
 'Eddy Arnold',
 'Chet Atkins',
 'Gene Autry',
 'DeFord Bailey',
 'Bobby Bare',
 'Eddie Bayers',
 'Johnny Bond',
 'Bobby Braddock',
 'Harold Bradley',
 'Jerry Bradley',
 'Owen Bradley',
 'Rod Brasfield',
 'Garth Brooks',
 'Brooks & Dunn',
 'Jim Ed Brown',
 'Jim Ed Brown and the Browns',
 'Boudleaux and Felice Bryant',
 'Glen Campbell',
 'Bill Carlisle',
 'Carter Family',
 'Johnny Cash',
 'Ray Charles',
 'Roy Clark',
 'Cowboy Jack Clement',
 'Patsy Cline',
 'Hank Cochran',
 'Paul Cohen',
 'Floyd Cramer',
 'Vernon Dalhart',
 'Charlie Daniels',
 'Jimmie Davis',
 'Jimmy Dean',
 'Delmore Brothers',
 'Jim Denny',
 'Little Jimmy Dickens',
 'Dean Dillon',
 'Pete Drake',
 'Ralph Emery',
 'The Everly Brothers',
 'Flatt And Scruggs',
 'Jim Foglesong',
 'Red Foley',
 'Tennessee Ernie Ford',
 'Fred Foster',
 'Joseph Frank',
 'Lefty Frizzell',
 'Connie B. Gay',
 'Don Gibson',
 'Vince Gill',
 'Johnny Gimble',
 'Merle Haggard',
 'Tom T. Hall',
 'Emmylou Harris',
 'George D. Hay',
 'Homer and Jethro',
 'Roy Horton',
 'Harlan Howard',
 'Ferlin Husky',
 'Alan Jackson',
 'Sonny James',
 'Waylon Jennings',
 'George Jones',
 'Grandpa Jones',
 'Jordanaires',
 'Pee Wee King',
 'Kris Kristofferson',
 'Don Law',
 'Brenda Lee',
 'Hubert Long',
 'The Louvin Brothers',
 'Loretta Lynn',
 'Uncle David Macon',
 'Barbara Mandrell',
 'Grady Martin',
 'Charlie McCoy',
 'Reba McEntire',
 'Roger Miller',
 'Ronnie Milsap',
 'Bill Monroe',
 'Patsy Montana',
 'George Morgan',
 'Ken Nelson',
 'Willie Nelson',
 'Oak Ridge Boys',
 'Buck Owens',
 'Dolly Parton',
 'Minnie Pearl',
 'Ralph Peer',
 'Sam Phillips',
 'Webb Pierce',
 'Elvis Presley',
 'Frances Preston',
 'Ray Price',
 'Charley Pride',
 '\u200bJerry Reed',
 'Jim Reeves',
 'Tex Ritter',
 'Hargus “Pig” Robbins',
 'Marty Robbins',
 'Jimmie Rodgers',
 'Kenny Rogers',
 'Roy Rogers',
 'Fred Rose',
 'Wesley Rose',
 'Arthur E. Satherley',
 'Don Schlitz',
 'Jean Shepard',
 'Billy Sherrill',
 'Stephen Sholes',
 'Ricky Skaggs',
 'Carl Smith',
 'Connie Smith',
 'Hank Snow',
 'Sons of the Pioneers',
 'Jack Stapp',
 'Ray Stevens',
 'Cliffie Stone',
 'Ernest V. “Pop” Stoneman',
 'George Strait',
 'Marty Stuart',
 'The Duke of Paducah',
 'The Judds',
 'The Statler Brothers',
 'Hank Thompson',
 'Mel Tillis',
 'Floyd Tillman',
 'Merle Travis',
 'Randy Travis',
 'Ernest Tubb',
 'Grant Turner',
 'Conway Twitty',
 'Porter Wagoner',
 'Cindy Walker',
 'Jo Walker-Meador',
 'Kitty Wells',
 'E. W. “Bud” Wendell',
 'Dottie West',
 'Don Williams',
 'Hank Williams',
 'Hank Williams Jr.',
 'Bob Wills',
 'Mac Wiseman',
 'Tammy Wynette',
 'Faron Young']

In [119]:
page = 1
year = []
while page != 18:
      url = f"https://countrymusichalloffame.org/hall-of-fame/members/page/{page}"
      response = requests.get(url)
      html = response.content
      soup = BS(html, "lxml")
      years1 = str(soup.findAll(attrs={'class' : 'vertical-card_content--copy'}))
      years1 = re.findall(r"\d{4}", years1)
      year.append(years1)
      page = page + 1

In [120]:
print(type(year))
flat_list=list()
for sub_list in year:
    flat_list += sub_list
year = flat_list
year

<class 'list'>

['1962',
 '2005',
 '2001',
 '1966',
 '1973',
 '1969',
 '2005',
 '2013',
 '2022',
 '1999',
 '2011',
 '2006',
 '2019',
 '1974',
 '1987',
 '2012',
 '2019',
 '2015',
 '2015',
 '1991',
 '2005',
 '2002',
 '1970',
 '1980',
 '2022',
 '2009',
 '2013',
 '1973',
 '2014',
 '1976',
 '2003',
 '1981',
 '2016',
 '1972',
 '2010',
 '2001',
 '1966',
 '1983',
 '2021',
 '2022',
 '2007',
 '2001',
 '1985',
 '2004',
 '1967',
 '1990',
 '2016',
 '1967',
 '1982',
 '1980',
 '2001',
 '2007',
 '2018',
 '1994',
 '2008',
 '2008',
 '1966',
 '2001',
 '1982',
 '1997',
 '2010',
 '2017',
 '2006',
 '2001',
 '1992',
 '1978',
 '2001',
 '1974',
 '2004',
 '2001',
 '1997',
 '1979',
 '2001',
 '1988',
 '1966',
 '2009',
 '2015',
 '2009',
 '2011',
 '1995',
 '2014',
 '1970',
 '1996',
 '1998',
 '2001',
 '1993',
 '2015',
 '1996',
 '1999',
 '1975',
 '1984',
 '2001',
 '2001',
 '1998',
 '1992',
 '1996',
 '2000',
 '2017',
 '1967',
 '1964',
 '2012',
 '1982',
 '1961',
 '2013',
 '1988',
 '1961',
 '1986',
 '1971',
 '2017',
 '2011',
 '2010',
 '1967',
 '2018',
 '2003',
 '2012',
 '1979',
 '1980',
 '1989',
 '2019',
 '1989',
 '2008',
 '2006',
 '2021',
 '1986',
 '2022',
 '2008',
 '1989',
 '2007',
 '1984',
 '1977',
 '2016',
 '1965',
 '1981',
 '1999',
 '2002',
 '1997',
 '1995',
 '1976',
 '1998',
 '2018',
 '2010',
 '1961',
 '2021',
 '1968',
 '2014',
 '1998',
 '2000']

In [121]:
df1 = {'Artist':artists,'Year':year}
df1 = pd.DataFrame(df1)
df1

                Artist  Year
0            Roy Acuff  1962
1              Alabama  2005
2        Bill Anderson  2001
3          Eddy Arnold  1966
4          Chet Atkins  1973
..                 ...   ...
142  Hank Williams Jr.  2021
143          Bob Wills  1968
144        Mac Wiseman  2014
145      Tammy Wynette  1998
146        Faron Young  2000

[147 rows x 2 columns]