In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS
import re

In [177]:
page = 1
artists = []
year = []
while page != 18:
      url = f"https://countrymusichalloffame.org/hall-of-fame/members/page/{page}"
      response = requests.get(url)
      html = response.content
      soup = BS(html, "lxml")
      for h3 in soup.find_all("h3"):
        artists.append(h3.get_text(strip=True))
      y = str(soup.findAll(attrs={'class' : 'vertical-card_content--copy'}))
      y = re.findall(r"\d{4}", y)
      year.append(y)
      page = page + 1
flat_list=list()
for sub_list in year:
    flat_list += sub_list
year = flat_list

df1 = {'Artist':artists,'Year':year}
df1 = pd.DataFrame(df1)
df1

                Artist  Year
0            Roy Acuff  1962
1              Alabama  2005
2        Bill Anderson  2001
3          Eddy Arnold  1966
4          Chet Atkins  1973
..                 ...   ...
142  Hank Williams Jr.  2021
143          Bob Wills  1968
144        Mac Wiseman  2014
145      Tammy Wynette  1998
146        Faron Young  2000

[147 rows x 2 columns]

In [47]:
url_roy = 'https://countrymusichalloffame.org/artist/roy-acuff/'

response = requests.get(url_roy)

In [48]:
soup2 = BS(response.text)

In [180]:
#x = soup2.findAll('attrs={'class': 'fl-rich-text detail-wrapper'}')
x = soup2.findAll('p')
name = soup2.find('h1').text
x = x[4].text
dates = re.findall(r"([A-Za-z]+)\W\s([A-Za-z]+\s\d+,\s\d{4})",x)
birthplace = re.findall(r"([A-Za-z]+)\W\s([A-Za-z]+\W\s[A-Za-z]+)",x)
birth = dates[0][1]
death = dates[1][1]
birthplace = birthplace[0][1]
df2 = {'Artist':name,'DOB':birth,'Death':death, 'Birthplace': birthplace}
df2 = pd.DataFrame(df2, index=[0])
df2

      Artist                 DOB              Death               Birthplace
0  Roy Acuff  September 15, 1903  November 23, 1992  Maynardville, Tennessee